* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Geist Variable', sans-serif;
  position: relative;
  background: #111318;
}

/* needed for base-ui modals and popups to work */
#root {
  isolation: isolate;
}